{% extends "user/base.html" %}

{% block title %}Query Builder{% endblock %}

{% block header %}
{% block header-title %}Query Builder{% endblock %}
{% endblock %}

{% block content %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script>
    $(document).ready(function(){
        var signalsRefreshed = {{ signals_refreshed }};
        var signalFormWrapper = $('#signal-form-wrapper');
        if (signalsRefreshed != 0) {
            signalFormWrapper.show();
        }
        else {
            signalFormWrapper.hide();
        }
    });

    $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: '1900:' + new Date().getFullYear(),
      showOn: 'button'
    }).next('button').text('').button({
            icons: {
                primary: 'icon-calendar'
            },
            text: false
        });
    });

    function cloneAnother(selector, type) {
        var newElement = $(selector).clone(true);
        var total = $('#id_' + type + '-TOTAL_FORMS').val();
        newElement.find(':input').each(function() {
            var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        });
        newElement.find('label').each(function() {
            var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
            $(this).attr('for', newFor);
        });
        total++;
        $('#id_' + type + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
    }
</script>

<form action="/query/query-builder/" method="post" enctype=multipart/form-data>
    {% csrf_token %}

    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        <p>
        {{ form.query_name.errors }}
        <label for="{{ form.query_name.id_for_label }}">Name of Your Query: </label>
        {{ form.query_name }}
        </p>
    </div>


    <div class="fieldWrapper">
        <table width="80%">
            <tr>
                <td>{{ form.start_date.errors }}</td>
                <td>{{ form.start_time.errors }}</td>
            </tr>
            <tr>
                <td>
                    <label for="{{ form.start_date.id_for_label }}">Start Date: </label>
                    {{ form.start_date }}
                </td>
                <td>
                    <label for="{{ form.start_time.id_for_label }}">Start Time: </label>
                    {{ form.start_time }}
                </td>
            </tr>
        </table>
    </div>

    <div class="fieldWrapper">
        <table width="80%">
            <tr>
                <td>{{ form.end_date.errors }}</td>
                <td>{{ form.end_time.errors }}</td>
            </tr>
            <tr>
                <td>
                    <label for="{{ form.end_date.id_for_label }}">End Date: </label>
                    {{ form.end_date }}
                </td>
                <td>
                    <label for="{{ form.end_time.id_for_label }}">End Time: </label>
                    {{ form.end_time }}
                </td>
            </tr>
        </table>
    </div>

    <div class="fieldWrapper">
        {{ form.file.errors }}
        <label for="{{ form.file.id_for_label }}">Analysis File: </label>
        {{ form.file }}
    </div>

    <div class="fieldWrapper">
        {{ form.stations.errors }}
        <p><label for="{{ form.stations.id_for_label }}"><b>Select Stations</b> (Optional)</label></p>
        {{ form.stations }}
        <br><small>(CTRL + Click or SHIFT + Click to select multiple)</small>
    </div>

    <div class="fieldWrapper">
        <p><b>Specify Conditions</b> (Optional)</p>
        {{ form.condition_value.errors }}
        <label for="{{ form.condition_type.id_for_label }}">Condition: </label>
        {{ form.condition_type }} {{ form.condition_operator }} {{ form.condition_value }}
    </div>

    <fieldset style="border:none;" id="conditions-field-set">
        {{ formset.management_form }}
        {{ formset.non_form_errors }}
        {% for form in formset.forms %}
            <div  class="fieldWrapper formSet">
                {{ form.condition_value.errors }}
                <label for="{{ form.id_for_label }}">Additional Condition: </label>
                {{ form.condition_type }} {{ form.condition_operator }} {{ form.condition_value }}
            </div>
        {% endfor %}


        <input type="button" value="Add Another" id="add_another">
        <script>
            $('#add_another').click(function() {
                cloneAnother('div.formSet:last', 'form');
            });
        </script>
    </fieldset>

    <br>
    <input class="button" type="reset" value="Reset"/>
    <input class="button" type="submit" style="width: 120px;" value="Get Signals" id="refresh-signals" name="refresh"/>

    {{ signal_form.non_form_errors }}
    <div class="fieldWrapper" id="signal-form-wrapper">
        <p style="color: red; font-size: 15px; display: none;">This field is required.</p>
        {{ signal_form.signals.errors }}
        <p><label for="{{ signal_form.signals.id_for_label }}"><b>List of Signals</b></label></p>
        {{ signal_form.signals }}
        <br><small>(CTRL + Click or SHIFT + Click to select multiple)</small>

        <input class="button" type="submit" style="width:100px;" value="Send Query" name="send" id="send-query"/>
    </div>
</form>

<!--<form action="/query/query-result/" method="post" enctype=multipart/form-data>-->
    <!--{% csrf_token %}-->

    <!--{{ signal_form.non_form_errors }}-->
    <!--<div class="fieldWrapper">-->
        <!--{{ signal_form.signals.errors }}-->
        <!--<p><label for="{{ signal_form.signals.id_for_label }}"><b>List of Signals</b></label></p>-->
        <!--{{ signal_form.signals }}-->
        <!--<br><small>(CTRL + Click or SHIFT + Click to select multiple)</small>-->
    <!--</div>-->

    <!--<input class="button" type="submit" style="width:100px;" value="Send Query" name="send"/>-->
<!--</form>-->

{{ received_json_data }}

<a href="/logout">Logout</a>
{% endblock %}