{% extends "user/base.html" %}

{% block title %}Query Builder{% endblock %}

{% block header %}
{% block header-title %}Query Builder{% endblock %}
{% endblock %}

{% load staticfiles %}

{% block content %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{% static '/static/general/queryBuilder.css' %}"/>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        var sendQueryError = $('#send-query-error');
        var signalFormWrapper = $('#signal-form-wrapper');

        $('.fieldSet').each(function(index) {
            if (index == {{ current_step }}) {
                return true;
            }
            $('#' + this.id).hide();
        });

        $('.nextStep').bind('click', function(){
            var currentId = parseInt(this.id.replace('next-step-', ''));
            var fieldSetId = '#field-set-' + currentId;
            $(fieldSetId).hide();
            var nextId = currentId + 1;
            var nextFieldSetId = '#field-set-' + nextId;
            $(nextFieldSetId).show();
        });

        $('.previousStep').bind('click', function() {
            var currentId = parseInt(this.id.replace('previous-step-', ''));
            var fieldSetId = '#field-set-' + currentId;
            $(fieldSetId).hide();
            var previousId = currentId - 1;
            var previousFieldSetId = '#field-set-' + previousId;
            $(previousFieldSetId).show();
        });
                      
                      
                      
        $('#select-all-stations').bind('click', function() {
             var stations = $('#id_stations option');
             if (stations.prop('selected') == true) {
             stations.prop('selected', false);
             return;
             }
             
             stations.prop('selected', true);
        });

        $('#select-all-signals').bind('click', function() {
            var signals = $('#id_signals option');
            if (signals.prop('selected') == true) {
                signals.prop('selected', false);
                return;
            }

            signals.prop('selected', true);
        });
    });


    $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: '1900:' + new Date().getFullYear(),
      showOn: 'button'
    }).next('button').text('').button({
            icons: {
                primary: 'icon-calendar'
            },
            text: false
        });
    });
</script>

<form action="/query/query-builder/" method="post" enctype=multipart/form-data class="form-inline">
    {% csrf_token %}

    <h3>Complete 5 steps to send a query:</h3>
    {{ form.non_field_errors }}
    <fieldset id="field-set-1" class="fieldSet form-group">
        <h3>1. Fill Out Query Details</h3>
        <div class="fieldWrapper">
            <p>
                {{ form.query_name.errors }}
                <label for="{{ form.query_name.id_for_label }}">Name of Your Query: </label>
                {{ form.query_name }}
            </p>
        </div>


        <div class="fieldWrapper">
            <table width="80%">
                <tr>
                    <td>{{ form.start_date.errors }}</td>
                    <td>{{ form.start_time.errors }}</td>
                </tr>
                <tr>
                    <td>
                        <label for="{{ form.start_date.id_for_label }}">Start Date: </label>
                        {{ form.start_date }}
                    </td>
                    <td>
                        <label for="{{ form.start_time.id_for_label }}">Start Time: </label>
                        {{ form.start_time }}
                    </td>
                </tr>
            </table>
        </div>

        <div class="fieldWrapper">
            <table width="80%">
                <tr>
                    <td>{{ form.end_date.errors }}</td>
                    <td>{{ form.end_time.errors }}</td>
                </tr>
                <tr>
                    <td>
                        <label for="{{ form.end_date.id_for_label }}">End Date: </label>
                        {{ form.end_date }}
                    </td>
                    <td>
                        <label for="{{ form.end_time.id_for_label }}">End Time: </label>
                        {{ form.end_time }}
                    </td>
                </tr>
            </table>
        </div>

        <div class="fieldWrapper">
            <table width="80%">
                <tr>
                    <td> {{ form.file.errors }} </td>
                </tr>
                <tr>
                    <td>
                        <label for="{{ form.file.id_for_label }}">Analysis File (Optional): </label> 
                        {{ form.file }}
                    </td>
                </tr>
            </table>
        </div>
        <button id="next-step-1" class="btn btn-primary nextStep" type="submit" name="save-details">Next Step</button>
    </fieldset>

    <fieldset id="field-set-2" class="fieldSet">
        <h3>2. Filter the List of Stations (Optional)</h3>
        <div class="fieldWrapper">
            <table width="80%" class="choiceTable">
                <tr>
                    <td><label for="{{ station_filter_form.station_voltage.id_for_label">Voltage</label></td>
                    <td><label for="{{ station_filter_form.pmu_channel.id_for_label">Channel</label></td>
                </tr>
                <tr>
                    <td>{{ station_filter_form.station_voltage }}</td>
                    <td>{{ station_filter_form.pmu_channel }}</td>
                </tr>
            </table>
        </div>
        
        <p><small>*Leaving all boxes in a field unchecked is the same as selecting them all.</small></p>

        <button id="refresh-stations" class="btn btn-primary nextStep" type="submit" name="station-filter-submit">Refresh Stations</button>

        <h3>3. Select Stations to Filter On (Optional)</h3>
        <div class="fieldWrapper">
            {{ station_form.errors }}
            <!--<p><label for="{{ form.stations.id_for_label }}"><b>Select Stations</b> (Optional)</label></p>-->
            {{ station_form }}
            <br>
            <button id="select-all-stations" class="btn btn-default btn-sm" type="button"> Toggle All</button>
            <small> (CTRL + Click or SHIFT + Click to select multiple)</small>
        </div>

        <button id="previous-step-1" class="btn btn-default previousStep" type="button">Previous Step</button>
        <button id="next-step-2" class="btn btn-primary nextStep" type="submit" name="station-submit">Next Step</button>
        <!--<button id="next-step-3" class="btn btn-primary nextStep" type="submit">Next Step</button>-->
    </fieldset>

    <fieldset id="field-set-3" class="fieldSet">
        <h3>4. Filter the List of Signals (Optional)</h3>

        <div class="fieldWrapper">
            <table class="choiceTable">
                <tr>
                    <td><label for="{{ signal_filter_form.signal_voltage.id_for_label">Voltage</label></td>
                    <td><label for="{{ signal_filter_form.signal_type.id_for_label">Type</label></td>
                    <td><label for="{{ signal_filter_form.signal_asset.id_for_label">Asset</label></td>
                    <td><label for="{{ signal_filter_form.signal_unit.id_for_label">Unit</label></td>
                    <td><label for="{{ signal_filter_form.signal_phase.id_for_label">Phase</label></td>
                </tr>
                <tr>
                    <td>{{ signal_filter_form.signal_voltage }}</td>
                    <td>{{ signal_filter_form.signal_type }}</td>
                    <td>{{ signal_filter_form.signal_asset }}</td>
                    <td>{{ signal_filter_form.signal_unit }}</td>
                    <td>{{ signal_filter_form.signal_phase }}</td>
                </tr>
            </table>
        </div>
        
        <p><small>*Leaving all boxes in a field unchecked is the same as selecting them all.</small></p>

        <!-- <input class="button" type="reset" value="Reset"/> -->
        <!--<input class="button" type="submit" style="width: 120px;" value="Get Signals" id="refresh-signals" name="refresh"/>-->
        <button id="refresh-signals" class="btn btn-primary nextStep" type="submit" name="signal-filter-submit">Refresh Signals</button>
            <!--<button id="next-step-3" class="btn btn-primary nextStep" type="submit">Next Step</button>-->

        <h3>5. Select Signals</h3>

        {{ signal_form.non_form_errors }}
        <div class="fieldWrapper" id="signal-form-wrapper">
            <!--<br><label for="{{ signal_form.signals.id_for_label }}"><b>List of Signals</b></label>-->
            {{ signal_form.signals.errors }}
            {{ signal_form.signals }}
            <button id="select-all-signals" class="btn btn-default btn-sm" type="button"> Toggle All</button>
            <small> (CTRL + Click or SHIFT + Click to select multiple)</small>

        </div>
        <button id="previous-step-2" class="btn btn-default previousStep" type="button">Previous Step</button>
        <input  id="send-query" class="btn btn-success" type="submit" value="Send Query" name="send"/>
    </fieldset>
</form>

<br><br>
<a href="/logout">Logout</a>
{% endblock %}