<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="{% static '/static/general/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/static/general/bootstrap/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/static/general/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/static/general/dbstyle.css' %}"/>   
    <title>{% block title %}BPA Project{% endblock %}</title>
</head>

<body>
    <div id="header">
        <!-- display 'Welcome' and 'New Job', 'Status' buttons -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        {% block header %}
                        {% block header-title %}BPA Project{% endblock %}
                        {% endblock %}
                    </a>
                </div>
                <div>
                    <form class="navbar-form navbar-left" role="search">
                        <a type="submit" class="btn btn-default" href="/dashboard">Dashboard</a>
                    </form>
                </div>
                <div>
                    <form class="navbar-form navbar-left" role="search">
                        <a type="submit" class="btn btn-default" href="/query/query-builder">New Job</a>
                    </form>
                </div>
                <div>
                    <form class="navbar-form navbar-left" role="search">
                        <a type="submit" class="btn btn-default" href="/query/status-result">System Status</a>
                    </form>
                </div>
                <div>
                    <form class="navbar-form navbar-left" role="search">
                        <a type="submit" class="btn btn-default" href="/logout">Logout</a>
                    </form>
                </div>
            </div>
        </nav>
    </div>

<div id="container">
    <div id="content">

        {% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
	{% endif %}

        {% block content %}{% endblock %}

    </div>
</div>

<div class="footer">
    <ul id="footer-link-bar">
        <li class="footer-link"><a href="/info/about/">About</a> |</li>
        <li class="footer-link"><a href="/info/faq/">FAQs</a> |</li>
        <li class="footer-link"><a href="/info/contact/">Contact Us</a></li>
    </ul>
</div>
</body>
</html>
